<div id="<%= dom_id recipee %>">
  <p>
    <strong>Name:</strong>
    <%= recipee.name %>
  </p>

  <p>
    <strong>Preparation time:</strong>
    <%= recipee.preparation_time %>
  </p>

  <p>
    <strong>Cooking time:</strong>
    <%= recipee.cooking_time %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recipee.description %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= recipee.public %>
  </p>

</div>
