<p style="color: green"><%= notice %></p>
<%= render 'shared/navbar'%>

<div id="recipees">
<div>
<%= link_to "New recipee", new_recipee_path %>
  <h1>Recipees</h1>
  <% @recipees.each do |recipee| %>

  <div class="recipe_card">
      <div>
      <strong> <%= recipee.name %></strong>
        <%= button_to "Remove", recipee, method: :delete %>
      </div>
  
      <p>
        <%= recipee.description %>
      </p>

  </div>


  <div class="show">
  <%= link_to "Show detail", recipee %>
  </div>

  <% end %>
</div>

</div>




