<%= render 'shared/navbar'%>


<div id="recipees">
<div>
<%= link_to "New recipee", new_recipee_path %>
  <h1>Recipees</h1>
  <% @recipees.each do |recipee| %>
<% if can? :read, recipee %>
  <div class="recipe_card ">
      <div>
      <strong> <%= recipee.name %></strong>
      <% if can? :destroy, recipee %>
        <%= button_to "Remove", recipee, method: :delete, class: "btn btn-outline-danger" %>
      <% end %>
     
      </div>
  
      <p>
        <%= recipee.description %>
      </p>

  </div>


  <div class="show">
  <%= link_to "Show detail", recipee %>
  </div>

  <% end %>
<% end %>

</div>

</div>




