
<div>
<%= render 'shared/navbar'%>
</div>

<div class="show_container">
<%= render @recipee %>
<% if can? :create, @recipee %>
<div class="recipe_form">

  <%= form_with(
    model: RecipeFood.new,
    url: recipee_recipe_foods_path(@recipee),
    method: :post,
  ) do |form| %>

  <% if @recipee.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@recipee.errors.count, "error") %> prohibited this recipee from being saved:</h2>

      <ul>
        <% @recipee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="show_input">
   <%= form.label :quantity %>
    <%= form.number_field :quantity, class: "quantity" %>
  </div>
 
  <div class="show_input">
    <%= form.label :food_id %>
    <%= form.collection_select(:food_id, Food.all, :id, :name, prompt: true) %>
  </div>
  <div class="show_input">
    <%= form.submit  "Add ingredient", class: "btn btn-primary" %>
  </div>
<% end %>
</div>

<% end %>


<hr>

<table class="show_table">
  <tr class="show_tr">
    <th class="show_th">Food</th>
    <th class="show_th">Quantity</th>
    <th class="show_th">Value</th>
    <th class="show_th">Actions</th>
  </tr>
  <% @recipe_foods.each do |recipe_food| %>
  <tr class="show_tr">
    <td class="show_td"><%= recipe_food.food.name %></td>
    <td class="show_td"> <%= recipe_food.quantity %> <%= recipe_food.food.measurement_unit %></td>
    <td class="show_td">$ <%= recipe_food.food.price * recipe_food.quantity  %></td>
    <td class="show_td">
    <% if can? :destroy, @recipee %>
        <%= button_to "Remove", recipee_recipe_food_path(@recipee,recipe_food) , method: :delete, class: "btn btn-outline-danger"  %>
    <% end %>
    </td>
  </tr>
    <% end %>


  

</table>


 


</div>


